{% extends 'template.twig' %}

{% block title %}
    {{ userSession }}| Photo with Photopixels
{% endblock %}

{% block style_name %}style-user-profile
{% endblock %}

{% block body %}

<div  id="cover">
    <br>
    <div id="shadow-container">
        <div id="user-profile">
            <div id="user-profile-img">
                <img src="/upload/{{ userPage }}/avatar.jpg" height="130">
            </div>
            <div id="user-profile-name">

                <div id="user-name">{{ userPage }}</div>
                <div id="count-follow">
                    Photos: {{ count_images }}
                    Followers: {{ count_follower }}
                    Following: {{ count_following }}
                </div>
                {% if user_check_flag == 'TRUE' %}
                    {% if user_is_followed == 'FALSE' %}
                    <div id="follow">
                        <a href="{{ path("follow_user", {'user': userPage}) }}">Follow</a>
                    </div>
                    {% endif %}
                    {% if user_is_followed == 'TRUE'%}
                        <div id="followed">
                            <a href="{{ path("followed_user", {'user': userPage}) }}">Followed</a>
                        </div>
                    {% endif %}
                {% endif %}


            </div>
            <div id="user-profile-content">
                <!-- user_readers -->
            </div>
        </div>
        <div class="fill-menu">
            <ul class="menu">
                <li {% if select == 'followers' %} class="menu-selected" {% endif %} ><a href="{{ path('followers', {'user' : userPage }) }} ">Followers</a></li>
                <li {% if select == 'following' %} class="menu-selected" {% endif %} ><a href="{{ path('following', {'user' : userPage }) }} ">Following</a></li>
                <li {% if select == 'favorites' %} class="menu-selected" {% endif %} ><a href="{{ path('favorites', {'user' : userPage }) }} ">Favorites</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

{% endblock %}
