<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}
            userSession
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

    <link rel="stylesheet" href="colorbox/colorbox.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="colorbox/jquery.colorbox-min.js"></script>
</head>
<body>
<div id="header">
    <div class="wrapper clearfix">
        <div id="head-img"><a href="/"><img src="../css/images/Y4HEAT-nFuI.png" width="220"></a></div>

        <div id="exit">
            <a href="{{ path("exit") }}">Exit</a>
        </div>
    </div>
</div>

{% block body %}
<form method="post"  action="{{ path('delete_user', {'user': userSession}) }}">
<div class="users-area">
    <input type="submit" name="deleteUser" id="deleteUser" value="Delete">
    <input type="submit" name="showImages" id="showImages" value="Show images">
    <input type="submit" name="giveAdminRoots" id="giveAdminRoots" value="Give roots">
        <table >
        <div class="users">
        {% for user in users %}
            <tr>
            <td><input type="radio" name="selectedUser" value="{{ user.id }}"></td>
            <td><div class="each-user-area">

                <div class="avatar"><a href="/{{ userSession }}/{{ user.login }}"> <img src="/upload/{{ user.login }}/avatar.jpg" width="160"></a></div>
                <div class="user-name"><a href="/{{ userSession }}/{{ user.login }}"> {{ user.login }}</a></div>
                <div class="count-info-user">
                    Photos: {{ user.count_images }}
                    Followers: {{ user.count_follower }}
                    Following: {{ user.count_following }}
                </div>
                </div>
            </td>
            </tr>
        {% endfor %}
        </div>
        </table>

</div>
</form>
{% endblock %}



        <script>
            $(document).ready(function(){
                //Examples of how to assign the Colorbox event to elements
                $(".group-img").colorbox({rel:'group-img'});

                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function(){
                    $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>


</body>
</html>