{% extends 'account.twig' %}

{% block content %}

    {% if flag_no_image  == 'TRUE'%}

        Not uploaded any photo :(
    {% else %}
        <div>
        {%  for image in images %}

            <div class="content-img">
                <a class="group3" href="/upload/{{ image.login }}/{{ image.url }}" title={{ image.title }}>
                    <img src="/upload/{{ image.login }}/{{ image.url }}" width="400">
                </a>
            </div>
            {% if user_check_flag == 'FALSE' %}
                <form action="delete_image" id="delete-image" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="login" value="{{ image.url }}">
                    <a href="{{ path('delete_image', {'user': image.login, 'image' : image.url}) }}"><img src="/css/delete_remove_6735.png" width="20"></a>
                </form>
            {%  endif %}
        {% endfor %}
        </div>
    {% endif %}
<div id="click"></div>
{%  endblock %}
{% block javascripts %}

    <script>
        $(document).ready(function(){
            //Examples of how to assign the Colorbox event to elements
            $(".group3").colorbox({rel:'group3'});

            //Example of preserving a JavaScript event for inline calls.
            $("#click").click(function(){
                $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                return false;
            });
        });
    </script>
{% endblock %}