{% extends 'template.twig' %}

{% block title %}
    {{ userSession }} | Photo with Photopixels
{% endblock %}

{% block style_name %}style-settings
{% endblock %}

{% block body %}
    <div id="content">
                    <form action="{{ path("avatar_upload", {'user' : userSession}) }}" method="post" enctype="multipart/form-data">
        <div id="avatar-upload-area">

                Upload avatar:
                <input type="file" name="fileToUpload" placeholder="Browse photo" id="fileToUpload" onchange="previewFile()">
                <div id="photo-img"><img src="/upload/{{ userSession }}/avatar" width="500" id="preview"></div>
                {{ message }}
        </div>
        <div id="upload-area">
            <table id="settings">
                <tr>
                    <td id="columns">Forename : </td>
                    <td width="70%"><input type="text" name="forename" id="inputs" value="{{ settings.forename }}" autofocus required></td>
                </tr>
                <tr>
                    <td id="columns">Surname : </td>
                    <td><input type="text" name="surname" id="inputs" value="{{ settings.surname }}" required></td>
                </tr>
                <tr>
                    <td id="columns">Gender : </td>
                    <td><select name="gender">
                        <option value="Male" {% if settings.gender == 'Male' %} selected="selected" {% endif %}>Male</option>
                        <option value="Female" {% if settings.gender == 'Female' %} selected="selected" {% endif %}>Female</option>
                        </select></td>
                </tr>
                <tr>
                    <td id="columns">Birthday : </td>
                    <td>
                        <select name="birthday-day">
                            <option value="1" {% if settings.birthday_day == '1' %} selected="selected" {% endif %}>1</option>
                            <option value="2" {% if settings.birthday_day == '2' %} selected="selected" {% endif %}>2</option>
                            <option value="3" {% if settings.birthday_day == '3' %} selected="selected" {% endif %}>3</option>
                            <option value="4" {% if settings.birthday_day == '4' %} selected="selected" {% endif %}>4</option>
                            <option value="5" {% if settings.birthday_day == '5' %} selected="selected" {% endif %}>5</option>
                            <option value="6 {% if settings.birthday_day == '6' %} selected="selected" {% endif %}">6</option>
                            <option value="7" {% if settings.birthday_day == '7' %} selected="selected" {% endif %}>7</option>
                            <option value="8" {% if settings.birthday_day == '8' %} selected="selected" {% endif %}>8</option>
                            <option value="9" {% if settings.birthday_day == '9' %} selected="selected" {% endif %}>9</option>
                            <option value="10" {% if settings.birthday_day == '10' %} selected="selected" {% endif %}>10</option>
                            <option value="11" {% if settings.birthday_day == '11' %} selected="selected" {% endif %}>11</option>
                            <option value="12" {% if settings.birthday_day == '12' %} selected="selected" {% endif %}>12</option>
                        </select>
                        <select name="birthday-month">
                            <option value="January" {% if settings.birthday_month == 'January' %} selected="selected" {% endif %}>January</option>
                            <option value="February" {% if settings.birthday_month == 'February' %} selected="selected" {% endif %}>February</option>
                            <option value="March" {% if settings.birthday_month == 'March' %} selected="selected" {% endif %}>March</option>
                            <option value="April" {% if settings.birthday_month == 'April' %} selected="selected" {% endif %}>April</option>
                            <option value="May" {% if settings.birthday_month == 'May' %} selected="selected" {% endif %}>May</option>
                            <option value="June" {% if settings.birthday_month == 'June' %} selected="selected" {% endif %}>June</option>
                            <option value="July" {% if settings.birthday_month == 'July' %} selected="selected" {% endif %}>July</option>
                            <option value="August" {% if settings.birthday_month == 'August' %} selected="selected" {% endif %}>August</option>
                            <option value="September" {% if settings.birthday_month == 'September' %} selected="selected" {% endif %}>September</option>
                            <option value="October" {% if settings.birthday_month == 'October' %} selected="selected" {% endif %}>October</option>
                            <option value="November" {% if settings.birthday_month == 'November' %} selected="selected" {% endif %}>November</option>
                            <option value="December" {% if settings.birthday_month == 'December' %} selected="selected" {% endif %}>December</option>
                        </select>
                        <select name="birthday-year">
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                        </select>
                     </td>
                </tr>
                <tr>
                    <td id="columns">Country : </td>
                    <td> <input type="text" name="country" id="inputs" value="{{ settings.country }}" required></td>
                </tr>
                <tr>
                    <td id="columns">City : </td>
                    <td><input type="text" name="city" id="inputs" value="{{ settings.city }}" required></td>
                </tr>
                <tr>
                    <td id="columns">About : </td>
                        <td><textarea name="description" id="description-input" required>{{ settings.description }}</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <input type="submit" id ="submit" value="Save"></td>
                </tr>
            </table>

        </div>
            {% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    function previewFile() {
                        var preview = document.querySelector('#preview');
                        var file    = document.querySelector('input[type=file]').files[0];
                        var reader  = new FileReader();

                        reader.onloadend = function () {
                            preview.src = reader.result;
                        };
                        if (file) {
                            reader.readAsDataURL(file);
                        } else {
                            preview.src = "";
                        }
                    }
                </script>
            {% endblock %}
        </form>
    </div>

{% endblock %}