{% extends 'template.twig' %}

{% block title %}
    {{ userSession }} | Photo with Photopixels
{% endblock %}

{% block style_name %}style-tape
{% endblock %}
{% block body %}
    <div class="border-content">
    {% for post in posts %}
    <div id="content">
        <div id="post">
            <!--<form action="feed" method="post" enctype="multipart/form-data">-->
                <input type="hidden" name="login" value="{{ post.login }}">
                <input type="hidden" name="url" value="{{ post.url }}">

                <a href="/{{ post.login }}" id="avatar"><img src="upload/{{ post.login }}/avatar.jpg" width="150"></a>
                <a href="/{{ post.login }}" id="user-name">{{ post.login }}</a>
                <div id="description">{{ post.description }} </div>
                <div id="photo-post"><img src="upload/{{ post.login }}/{{ post.url }}" width="650"> </div>
                <div id="date">
                    {{ post.published_date }}
                </div>
                <div id="likes">
                    <div class="count-likes">
                    {{ post.count_likes }}
                    </div>
                        {% if post.image_is_liked == 'TRUE' %}
                            <input type="submit" class="like active" value="" name="submit-like">
                        {% else %}
                            <input type="submit" class="like" value="" name="submit-like">
                        {% endif %}
                    <div class="count-favorites">
                        {{ post.count_favorites }}
                    </div>
                    {% if post.image_is_favorit == 'TRUE' %}
                        <input type="submit" class="favorites active" value="" name="submit-favorites">
                    {% else %}
                        <input type="submit" class="favorites" value="" name="submit-favorites">
                    {% endif %}

                </div>
                <div class="border-comments">
                    <table id="comments" width="100%">
                        <tbody>
                        {% for comment in post.comments %}
                            <tr>
                                <td width="20%"><a href="/{{ comment.login }}"><img src="upload/{{ comment.login }}/avatar.jpg" width="100"></a></td>
                                <td>
                                    <table>
                                        <tr><a href="/{{ comment.login }}" id="user-name-comment">{{ comment.login }}</a></tr>
                                        <tr><div id="comment">{{ comment.comment| raw }}</div></tr>
                                        <tr><div id="date-comment">{{ comment.date }}</div></tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="content-line"></div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div id="comment-block">
                        <div id="avatar"><img src="upload/{{ userSession }}/avatar.jpg" width="150"></div>
                        <textarea  name="comment" id="comment-input" placeholder="Comment..."></textarea>
                        <input type="submit" class="send" value="send" name="submit-comment">
                    </div>
                </div>
           <!-- </form>-->
        </div>
        <div id="content-line"></div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('body').on('click','.like',function(e) {
                e.preventDefault();
                var url = $(this).closest('#post').find('input[name="url"]').val();
                var login_input = $(this).closest('#post').find('input[name="login"]').val();
                var th = $(this);
                var countLikes = document.querySelector('#count-likes');

                $.ajax({
                    type: 'POST',
                    url: '/feed',
                    data: "login="+login_input+"&url="+url+'&submit-like=1',
                    success: function(response) {
                        reg = response;
                        console.log(response);
                        if (response.status == 0)
                            th.removeClass('active');
                        else
                            th.addClass('active');
                        $('.count-likes').html(response.count);
                    }
                });
            });

            $('#content').on('click','.favorites',function(e) {
                e.preventDefault();
                var url = $(this).closest('#post').find('input[name="url"]').val();
                var login_input = $(this).closest('#post').find('input[name="login"]').val();
                var th = $(this);
                var countFavorites = document.querySelector('.count-favorites');
                $.ajax({
                    type: 'POST',
                    url: '/feed',
                    data: "login="+login_input+"&url="+url+'&submit-favorites=1',
                    success: function(response) {
                        reg = response;
                        console.log(response);
                        if (response.status == 0)
                            th.removeClass('active');
                        else
                            th.addClass('active');
                        $('.count-favorites').html(response.count);
                    }
                });
            });

            $('.border-content').on('click','.send',function(e) {
                e.preventDefault();
                var url = $(this).closest('#post').find('input[name="url"]').val();
                var login_input = $(this).closest('#post').find('input[name="login"]').val();
                var comment = $(this).closest('#post').find('textarea[name="comment"]').val();
                var th = $(this);

                $.ajax({
                    type: 'POST',
                    url: '/feed',
                    data: "login="+login_input+"&url="+url+"&comment="+comment+'&submit-comment=1',
                    success: function(response) {

                        var avatar = '/upload/' + response.login + '/avatar.jpg';
                        var loginHref = '/' + response.login;
                        var html = " <tr>" +
                            "<td width='20%'><img src=" + avatar + " width=\'100\'></a></td>"+
                                "<td>"+
                                    "<table>"+
                                        "<tr><a href="+ loginHref +" id=\'user-name-comment\'>"+ response.login+ "</a></tr>"+
                                        "<tr><div id=\'comment\'>"+ response.comment+"</div></tr>"+
                                        "<tr><div id=\'date-comment\'>"+ response.date +"</div>"+
                                        "</tr>"+
                                    "</table>"+
                                "</td>"+
                            "</tr>"+
                            "<tr>"+
                                "<td colspan=\'2\'>" +
                                "<div id=\'content-line\'></div>"+
                                "</td>"+
                            "</tr>";

                        $('#comments tr:last').after(html);
                        console.log(response);
                    }
                });
            });
        });

    </script>
{% endblock %}
