{% extends 'template.twig' %}

{% block title %}
    {{ userSession }} | Photo with Photopixels
{% endblock %}

{% block style_name %}style-tape
{% endblock %}
{% block body %}
    <div class="border-content">
    {% for post in posts %}
    <div id="content">
        <div id="post">
            <form action="feed" method="post" enctype="multipart/form-data">
                <input type="hidden" name="login" value="{{ post.login }}">
                <input type="hidden" name="url" value="{{ post.url }}">

                <a href="/{{ post.login }}" id="avatar"><img src="upload/{{ post.login }}/avatar" width="150"></a>
                <a href="/{{ post.login }}" id="user-name">{{ post.login }}</a>
                <div id="description">{{ post.description }} </div>
                <div id="photo-post"><img src="upload/{{ post.login }}/{{ post.url }}" width="650"> </div>
                <div id="date">
                    {{ post.published_date }}
                </div>
                <div id="likes">
                        {{ post.count_likes }}
                        {% if post.image_is_liked == 'TRUE' %}
                            <input type="submit" id="liked" value="" name="submit-like">
                        {% else %}
                            <input type="submit" id="like" value="" name="submit-like">
                        {% endif %}
                    {{ post.count_favorites }}
                    <input type="submit" id="favorit" value="" name="submit">
                </div>
                <div class="border-comments">
                    <div id="comments">
                        <table width="100%">
                        {% for comment in post.comments %}
                            <tr>
                                <td width="20%"><a href="/{{ comment.login }}"><img src="upload/{{ comment.login }}/avatar" width="100"></a></td>
                                <td>
                                    <table>
                                        <tr><a href="/{{ comment.login }}" id="user-name-comment">{{ comment.login }}</a></tr>
                                        <tr><div id="comment">{{ comment.comment| raw }}</div></tr>
                                        <tr><div id="date-comment">{{ comment.date }}</div></tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="content-line"></div>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                    </div>
                    <div id="comment-block">
                        <div id="avatar"><img src="upload/{{ userSession }}/avatar" width="150"></div>
                        <textarea  name="comment" id="comment-input" placeholder="Comment..."></textarea>
                        <input type="submit" id="send" value="send" name="submit-comment">
                    </div>
                </div>
            </form>
        </div>
        <div id="content-line"></div>
    </div>
    {% endfor %}
    </div>
{% endblock %}